<div class="kg-card kg-header-card kg-width-full kg-size-small kg-style-accent" data-kg-background-image="" style="">
   <h2 class="kg-header-card-header" id="span-explore-technologies"><span>Want to Learn More?</span></h2>
   <h3 class="kg-header-card-subheader" id="span-find-guides"><span>The United Manufacturing Hub is a product that professionalizes your shopfloor IT / OT infrastructure.</span></h3>
    <div style="display: flex; justify-content: space-between; margin-top: 24px;">
      <div data-tf-live="01HSGRCYW5ZY7YRZWTJNH1YMDG"></div><script src="//embed.typeform.com/next/embed.js"></script>
   </div>
</div>
