<div class="kg-card kg-header-card kg-width-full kg-size-small kg-style-accent" data-kg-background-image="" style="">
   <h2 class="kg-header-card-header" id="span-explore-technologies"><span>Want to Learn More?</span></h2>
   <h3 class="kg-header-card-subheader" id="span-find-guides"><span>The United Manufacturing Hub is a product that professionalizes your shopfloor IT / OT infrastructure.</span></h3>
    <div style="display: flex; justify-content: space-between; margin-top: 24px;">
      <a href="" 
               class="kg-header-card-button"
               onclick="Calendly.initPopupWidget({url: 'https://calendly.com/alexander_krueger/talk-to-founder?primary_color=47a0b5'});return false;"
            >
            Talk to a founder
            </a>
   </div>
</div>
