<div class="kg-card kg-header-card kg-width-full kg-size-small kg-style-accent" data-kg-background-image="" style="">
   <h2 class="kg-header-card-header" id="spanwant-to-discuss-with-an-expertspan"><span>Want to Discuss With an Expert?</span></h2>
   <h3 class="kg-header-card-subheader" id="spanwe-understand-the-complexities-of-itot-architecture-and-were-here-to-helpspan"><span>We understand the complexities of IT/OT architecture and we're here to help.</span></h3>
    <div style="display: flex; justify-content: space-between; margin-top: 24px;">
       <a class="kg-header-card-button" href="https://www.umh.app/contact-us?ref=learn.umh.app" style="margin-right:24px;">Contact Us</a>
       <a class="kg-header-card-button" href="https://www.umh.app/?ref=learn.umh.app">About UMH</a>
   </div>
</div>
