<div class="kg-card kg-header-card kg-width-full kg-size-small kg-style-accent" data-kg-background-image="" style="">
   <h2 class="kg-header-card-header" id="span-explore-technologies"><span>Want to Learn More?</span></h2>
   <h3 class="kg-header-card-subheader" id="span-find-guides"><span>Discover guides on Unified Namespace, IT/OT architecture, and essential tools. Start your journey with the United Manufacturing Hub today!</span></h3>
    <div style="display: flex; justify-content: space-between; margin-top: 24px;">
       <a class="kg-header-card-button" href="https://learn.umh.app/?cta=lrn4" style="margin-right:24px;">Explore Content</a>
       <a class="kg-header-card-button" href="https://www.umh.app/contact-us?cta=lrn5">Get in Touch</a>
   </div>
</div>
