{{#get "pages" filter="slug:cta" limit="1"}}
  {{#foreach pages}}
    <section class="px-4 sm:px-6 mt-16 mb-16{{#is "signin,signup"}} hidden{{/is}}" data-cta>
      <div class="max-w-container mx-auto">
        <div class="border border-brd  relative bg-bgr-tone flex flex-col items-center rounded-theme-md overflow-hidden">
          <article class="z-[2] px-6 py-16 md:px-8 md:py-24 mx-auto ghost-content prose prose-theme prose-lg md:prose-p:mb-12 prose-h2:mb-3 prose-h2:font-semibold md:prose-h2:text-3xl lg:prose-h2:text-4xl font-light !mb-0 text-center items-center">
            {{content}}
          </article>
          {{#if feature_image}}
            <figure class="absolute z-1 h-full w-full overflow-hidden"
            >
              {{> image
                image_type="post"
                image_class="w-full h-auto object-cover"
                image_url=feature_image
                size_s=true
                size_m=true
                size_l=true
                size_xl=true
                sizes="(max-width: 600px) 480px, (max-width: 800px) 600px, (max-width: 1080px) 920px, 1200px"
                loading="lazy"
              }}
            </figure>
          {{/if}}
        </div>
      </div>
    </section>
  {{/foreach}}
{{/get}}