{{#get "posts" include="tags,authors" filter="tag:ux-ui-design+tag:hash-course" limit="6"}}
{{#if posts}}
<section class="course-area pt-20 xl:pt-28">
   <div class="container mx-auto">
      <div class="section-title max-w-xl mb-6 lg:mb-16">
         <h4 class="font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-6"> {{ @custom.featured_course_tag_1_heading }} </h4>
         <p class="text-lg text-gray-400 font-normal">Have slide best viewings hair as in the if is next line
            however of viewer. Whenever.
         </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
         {{#foreach posts}}
         {{> cards/card-course}}
         {{/foreach}}
      </div>
   </div>
</section>
{{/if}}
{{/get}}
{{#get "posts" include="tags,authors"  filter="tag:web-development+tag:hash-course" limit="6"}}
{{#if posts}}
<section class="course-area pt-20 xl:pt-28">
   <div class="container mx-auto">
      <div class="section-title max-w-xl mb-6 lg:mb-16">
         <h4 class="font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-6">{{@custom.featured_course_tag_2_heading}}</h4>
         <p class="text-lg text-gray-400 font-normal">Chest extremely quarter handwriting the officers.
            Unavoidable, for how of the heard ill
         </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
         {{#foreach posts}}
         {{> cards/card-course}}
         {{/foreach}}
      </div>
   </div>
</section>
{{/if}}
{{/get}}