{{#get "posts" include="tags,authors" filter="tag:introduction-into-it-ot+tag:hash-course" limit="6"}}
{{#if posts}}
<section class="course-area pt-20 xl:pt-28">
   <div class="container mx-auto">
      <div class="section-title max-w-xl mb-6 lg:mb-16">
         <h4 class="font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-6"> Introduction into IT / OT </h4>
         <p class="text-lg text-gray-400 font-normal">This course provides you with an in-depth introduction into IT, OT, and the IIoT. Previously known as the "Knowledge" section.         </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
         {{#foreach posts}}
         {{> cards/card-course}}
         {{/foreach}}
      </div>
   </div>
</section>
{{/if}}
{{/get}}
{{#get "posts" include="tags,authors"  filter="tag:3rd-party-systems+tag:hash-course" limit="6"}}
{{#if posts}}
<section class="course-area pt-20 xl:pt-28">
   <div class="container mx-auto">
      <div class="section-title max-w-xl mb-6 lg:mb-16">
         <h4 class="font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-6">Connecting the United Manufacturing Hub with other 3rd party systems</h4>
         <p class="text-lg text-gray-400 font-normal">Leverage the best-in-class IT / OT tools out there and connect them to your IT / OT infrastructure.
         </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
         {{#foreach posts}}
         {{> cards/card-course}}
         {{/foreach}}
      </div>
   </div>
</section>
{{/if}}
{{/get}}
