<div class="md:flex flex-row-reverse justify-between gap-6 items-center text-center lg:text-left pb-12 relative z-10">
   <ul class="inline-flex items-center my-2 text-center lg:text-right">
      {{#if facebook_url }}
      <li><a class="group bg-blue-50 hover:bg-white w-10 h-10 rounded-full flex items-center justify-center duration-300 m-2"
         href="{{facebook_url}}">
         {{> icons/facebook}}
         </a>
      </li>
      {{/if}}
      {{#if twitter_url }}
      <li><a class="group bg-blue-50 hover:bg-white w-10 h-10 rounded-full flex items-center justify-center duration-300 m-2"
         href="{{twitter_url}}">
         {{> icons/twitter}}
         </a>
      </li>
      {{/if}}
      <li><a class="group bg-blue-50 hover:bg-white w-10 h-10 rounded-full flex items-center justify-center duration-300 m-2"
         href="https://discord.gg/F9mqkZnm9d">
         {{> icons/discord}}
         </a>
      </li>
      <li><a class="group bg-blue-50 hover:bg-white w-10 h-10 rounded-full flex items-center justify-center duration-300 m-2"
         href="https://www.linkedin.com/company/united-manufacturing-hub/">
         {{> icons/linkedin}}
         </a>
      </li>
   </ul>
   {{#if @custom.footer_note}}
   <div class="my-2">
      <p class="text-base leading-relaxed text-gray-800 font-normal">
         &copy; 
         <span id="spanYear">
            <script> document.write(new Date('Y')); </script>
         </span>
         {{@custom.footer_note}}
      </p>
   </div>
   {{/if}}
</div>
