{{#if @member}}
{{else}}
<div class="kg-card kg-header-card kg-width-full kg-size-small kg-style-accent" data-kg-background-image="" style="">
   <h2 class="kg-header-card-header" id="span-explore-technologies"><span>Stay up-to-date</span></h2>
   <h3 class="kg-header-card-subheader" id="span-find-guides">
      <span>Subscribe to the UMH Learning Hub Newsletter to receive the latest updates and gain early access to our blog posts.
      </span>
   </h3>
    <div style="display: flex; justify-content: space-between; margin-top: 24px;">
      <a href="#/portal/signup" 
               class="kg-header-card-button"
               
            >
            Subscribe
            </a>
   </div>
</div>
{{/if}}