{{!-- Menu --}}
<div class="fixed shadow-xl z-[100] top-[68px] md:top-[84px] w-full bg-bgr text-typ-tone pt-4 border-t border-brd lg:hidden{{#if @custom.sticky_header}} fixed{{/if}}" 
  :class="menuOpen ? 'block' : 'hidden'" data-menu id="menu"
> 
  <div class="px-4 sm:px-6">
    <nav class="" data-nav="mobile">
      {{navigation 
        ul_class="flex flex-col gap-1"
        li_class="flex relative"
        a_class="flex py-0.5 rounded-theme hover:text-brand"
      }}
    </nav>
  </div>
  
  <div class="p-4 mt-4 flex gap-2 border-y border-brd">
    {{!-- Search --}}
    {{!-- <button class="font-medium flex gap-2 px-4 rounded-theme items-center justify-center border border-brd text-sm hover:bg-bgr-tone" data-ghost-search title="{{t "Search"}}" aria-label="{{t "Search"}}">
      <span>{{t "Search"}}</span>
      {{> icon name="search" icon_class="w-4 h-4 stroke-2"}}
    </button> --}}

    {{!-- Color scheme dropdown --}}
    {{> toggle-color-scheme}}
  </div>
</div>