{{#if pagination.next}}
<div class="text-center">
   <button type="button"
      class="js-load-posts rainbow relative load-more-btn inline-flex items-center px-12 py-4 text-base font-medium text-gray-400 bg-blue-100 rounded-full border border-blue-100 hover:text-blue-500 hover:border-blue-800 duration-300 mt-14">{{t
   "Load More"}}</button>
</div>
{{/if}}