<!-- Posthog -->
<script>
    
    // Standard Posthog setup
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_HnubK8alcfpmTA1K8PwflTBkg3NLhjQuJnMnHwcxKfz',{
        api_host:'https://eu.posthog.com',
        persistence: 'memory',
    })
    {{#if @member}}
    posthog.identify(
        '{{@member.uuid}}',
        { email: '{{@member.email}}', name: '{{@member.name}}' }
    );
    {{/if}}

    // Feature Flags
    posthog.onFeatureFlags(function() {

        // A/B Test for CTA
        var linkText = "About UMH"
        if (posthog.getFeatureFlag('learn-cta-get-started-get-demo') === 'control') {
            linkText = "About UMH" 
        } else {
            linkText = "Start free or get a demo" 
        }
        
        document.getElementById('cta-header').textContent = linkText;
        document.getElementById('cta-main-cta').textContent = linkText;

        // Feature Flag: new header
        if (posthog.isFeatureEnabled('learn-header-from-website')) {
            var headerLogo = document.getElementById('header-logo');
            headerLogo.innerHTML = `<a class="pr-8 inline-block" href="https://www.umh.app">
                                        <img class="" src="/assets/images/UMH_Logo%20Icon_Black.png" alt="UMH Logo" style="max-height: 48px;max-width: 36px;">
                                    </a>`;
            
            var headerNavigation = document.getElementById('navigation-not-secondary');
            headerNavigation.innerHTML = `
            <li style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/product">
                Product </a>
            </li>
            <li class="menu-item-has-children" style="opacity: 1;">
                <a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="/">
                    Solutions  
                </a>
                <ul class="ghost-submenu">
                    <li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/unified-namespace">
                        Unified Namespace  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/open-source-historian">
                        Open-Source Historian  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/shop-floor-connectivity-infrastructure">
                        Shopfloor Connectivity  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/electronic-batch-recording">
                        Electronic Batch Recording (EBR)  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/energy-and-resource-optimization">
                        Energy Management  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/oee">
                        OEE and Condition Monitoring  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/digital-product-shadow">
                        Digital Shadow  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/digital-work-order-tulip">
                        Digital Work Orders (x Tulip)  </a>
                    </li>
                </ul>
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">            
                <path d="M1 0.866211L6.52874 6.86621L12.0575 0.866211" stroke="#202832" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </li>

            <li style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/pricing" style="padding-left: 2rem;">
                Pricing </a>
            </li>
            <li style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="/">
                Community </a>
            </li>
            <li class="menu-item-has-children" style="opacity: 1;">
                <a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="/" style="min-width: 9rem;">
                    Life at UMH  
                </a>
                <ul class="ghost-submenu">
                    <li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/about">
                        About Us  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/career">
                        Careers  </a>
                    </li>
                </ul>
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">            
                <path d="M1 0.866211L6.52874 6.86621L12.0575 0.866211" stroke="#202832" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </li>
            
            `;
        }
    });
</script>
