{{#is "post"}}
  {{#get "posts" include="tags,authors,tiers" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" as |related|}}
    {{#if related}}
      <section class="px-4 sm:px-6 mb-12" data-related="posts">
        <div class="max-w-container mx-auto">
          <h2 class="text-xl md:text-2xl font-semibold mb-4">{{t "Read next"}}</h2>

          <div class="grid gap-x-8 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
            {{#foreach posts}}
              {{> post-card}}
            {{/foreach}}
          </div>
        </div>
      </section>
    {{/if}}
  {{/get}}
{{/is}}