{{!< default}}
{{#post}}
{{#if feature_image}}
{{> hero-section lesson_style="three"}}
{{else}}
{{> hero-section post_style="one"}}
{{/if}}
{{/post}} 
<section class="single-area pb-20">
   {{#post}}
   <div class="gh-content gh-canvas pb-20 xl:pb-20 max-w-4xl mx-auto">
       
 {{content}}
          
     
   </div>
   <div class="gh-canvas" style="margin-top: 4rem;">
      {{#if comments}}
      {{comments}}
      {{/if}}
   </div>
   {{> contact-expert-cta}}
   {{/post}}
   <div class="gh-canvas">
      <!-- {{> social-share style="one"}} -->
      {{!-- {{> page-navigation}} --}}
      {{> related-posts}}
   </div>
</section>
