## routes.yaml

routes:
  /archive/:
    controller: channel
    template: archive
    # data: page.archive
  /signup/:
    template: signup
    # data: page.singup
  /signin/:
    template: signin
    # data: page.signin
  /membership/:
    template: membership
    # data: page.membership
  /tags/:
    template: tags
    # data: page.tags

collections:
  /lesson/:
    permalink: /lesson/{slug}/
    template: course
    filter: "tag:hash-lesson"

  /guides/:
    permalink: /course/{slug}/
    template: courses
    filter: "tag:hash-course"

  /featured/:
    permalink: /blog/{slug}/
    template: featured
    # filter: "tag:it-ot-architecture"

  # /blog/:
  #   permalink: /blog/{slug}/
  #   template: blog
  #   filter: "tag:hash-blog"
    
  /:
    permalink: /course/{slug}/
    template: index

taxonomies:
  tag: /topic/{slug}/
  author: /instructor/{slug}/
