 
li.toc-list-item a {
    font-size: 18px;
    line-height: 110%!important;
    display: block; 
    margin-bottom: 14px;
}

.toc-list-item::marker {
    font-size: 22px;
}

.toc-list-item {
    position: relative;
}
ol.toc-list {
    list-style: none!important;
    margin: 0;
    padding: 0!important;
}
 
 
li.toc-list-item .is-collapsed {
    display: none;
}

ol.toc-list.is-collapsible {
    padding-left: 0;
}

a.toc-link.is-active-link {
    color: var(--ghost-accent-color)
}
 