/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@define-mixin darktheme {
  @media (prefers-color-scheme: dark) {
    [data-color-scheme="system"]:root {
      @mixin-content;
    }
  }

  [data-color-scheme="dark"]:root {
    @mixin-content;
  }
}

/* Color & font definition */
:root {
  --font-system: system-ui, sans-serif;
  --font-headings: var(--font-system);
  --font-body: var(--font-system);

  --container-width: 1200px;
  --content-width: 680px; /*60ch;*/
  --content-width-wide: 960px;
  --wide-width: 1024px;
  --radius: 20px;
  --radius-xxs: calc(var(--radius) - 8px);
  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) + 2px);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 8px);

  --logo-h-mobile: 28px;
  --logo-w-mobile: auto;
  --logo-h-desktop: 32px;
  --logo-w-desktop: auto;
  
  --color-brand: var(--ghost-accent-color,#FD3D00);
  --color-brand-contrast: hsl(0 0% 100%);
  --color-accent: var(--ghost-accent-color);
  --color-error: #fc365e;
  --color-success: #48c774;
  --color-typography: hsl(0 0% 15%);
  --color-typography-tone: hsl(0 0% 40%);
  --color-typography-content: hsl(0 0% 35%);
  --color-typography-reverse: hsl(0 0% 95%);
  --color-background: hsl(0 0% 100%);
  --color-background-tone: hsl(0 0% 98%);
  --color-background-opac: hsla(0 0% 100% / 75%);
  --color-background-reverse: hsl(0 0% 12%);
  --color-border: hsl(0 0% 90%);
  --color-border-reverse: hsl(0 0% 20%);
  --shadow: 0 5px 25px -5px rgba(0 0 0 / .1);
}

@mixin darktheme {
  --color-typography: hsl(0 0% 90%);
  --color-typography-tone: hsl(0 0% 70%);
  --color-typography-content: hsl(0 0% 70%);
  --color-typography-reverse: hsl(0 0% 15%);
  --color-background: hsl(0 0% 10%);
  --color-background-tone: hsl(0 0% 12%);
  --color-background-opac: hsla(0 0% 0% / 50%);
  --color-background-reverse: hsl(0 0% 98%);
  --color-border: hsl(0 0% 18%);
  --color-border-reverse: hsl(0 0% 92%);
  --shadow: 0 0px 3px 0px rgba(255 255 255 / .1);
}

/* Font family definitions */
body { font-family: var(--font-body); }
article.ghost-content { font-family: var(--font-body); }
h1,h2,h3,h4,h5,h6 { font-family: var(--font-headings); }

/* Icons */
/* .icon { stroke-width: 2.5; } */
.icon svg {
  width: inherit;
  height: inherit;
  stroke-width: inherit;
}

/* Form messages */
form.error [data-msg="error"],
form.success [data-msg="success"] { 
  display: block; 
}

/* No scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
