/* Color scheme toggle */
[data-color-scheme="dark"] [data-theme="dark"],
[data-color-scheme="light"] [data-theme="light"] {
  background-color: var(--color-background);
  border-color: var(--color-border);
  /* color: var(--color-brand); */
  opacity: 1;
}

/* Dark/light logo */
[data-logo="dark"] { display: none; }

[data-color-scheme="dark"] [data-logo="dark"] + [data-logo="default"] { display: none; }
[data-color-scheme="dark"]  [data-logo="dark"] { display: block; }
[data-color-scheme="midnight"] [data-logo="dark"] + [data-logo="default"] { display: none; }
[data-color-scheme="midnight"] [data-logo="dark"] { display: block; }

@media (prefers-color-scheme: dark) {
  [data-color-scheme="system"] [data-logo="dark"] + [data-logo="default"] { display: none; }
  [data-color-scheme="system"] [data-logo="dark"] { display: block; }
}

/* Nav style */
[data-nav] .is-mainitem > a { padding-right: 0; }
[data-nav] .is-mainitem { padding-right: 0.5rem; }
[data-nav="mobile"] .is-mainitem { flex-wrap: wrap; }
[data-nav="desktop"] li.nav-current:not(:has(a[href="#"])) {
  background-color: var(--color-background-tone);
  border-color: var(--color-border);
}
[data-nav] .is-subitem { display: none; }
[data-nav] .is-mainitem .is-subitem { display: block; }
[data-nav-cta] { overflow: hidden }

[data-hero-headline] span { color: var(--color-brand); }

/* Scrolled header */
@media (min-width: 1024px) {
  [data-header].is-scrolled [data-header-brand], 
  [data-header].is-scrolled [data-header-actions] { 
    opacity: 0; 
    visibility: hidden; 
  }

  [data-header].is-scrolled [data-header-brand] { transform: translateX(-30px); }
  [data-header].is-scrolled [data-header-actions] { 
    transform: translateX(30px); 
    /* flex: 0 0 auto; */
  }
  [data-header].is-scrolled [data-nav-cta] { 
    opacity: 100%; 
    position: relative; 
    transform: translateX(0); 
    padding: 6px 16px; 
    width: auto; 
    margin-left: 24px;
  }

  [data-header] [data-nav-cta] span { width: inherit; }

  [data-header].is-scrolled [data-nav-cta]:before {
    position: absolute;
    width: 1px;
    height: 60%;
    top: 20%;
    content: "";
    background-color: var(--color-border);
    left: -16px;
  }

  [data-header].is-scrolled > div:before { opacity: 0; }

  [data-header].is-scrolled-onload [data-header-brand], 
  [data-header].is-scrolled-onload [data-header-actions] { 
    display: none;
  }
  [data-header].is-scrolled-onload [data-nav-cta] { 
    transition: none; 
    opacity: 100%; 
    position: relative; 
    transform: translateX(0); 
    padding: 6px 16px; 
    width: auto; 
    margin-left: 24px;
  }
  [data-header].is-scrolled-onload > div:before { opacity: 0; }
}

/* Featured posts feed */
[data-featured-side] [data-post-card-excerpt],
[data-featured-bottom] [data-post-card-excerpt],
[data-featured-side] [data-post-card-authors],
[data-featured-bottom] [data-post-card-authors] {
  display: none;
}

/* Featured tags nav */
nav[data-featured-tags] a[data-active] {
  color: var(--color-typography);
  border-color: var(--color-border);
  background-color: var(--color-background-tone);
}

nav[data-featured-tags] a[data-active]:after {
  background-color: var(--color-typography);
}

/* Featured tag section */
[data-featured-tag] [data-post-card-info] { display: none; }

/* Featured posts */
[data-featured-posts] [data-post-card] [data-post-card-featured] { display: none; }


/* Membership */
[data-plan="monthly"] [data-plan-toggle] [data-plan="monthly"] { color: var(--color-typography); }
[data-plan="monthly"] [data-plan-toggle]:before { transform: translateX(0); }

[data-plan="yearly"] [data-plan-toggle] [data-plan="yearly"] { color: var(--color-typography); }
[data-plan="yearly"] [data-plan-toggle]:before { transform: translateX(100%); }

[data-price], [data-tier-link] { display: none; }
[data-plan="monthly"] [data-price="monthly"] { display: flex; }
[data-plan="yearly"] [data-price="yearly"] { display: flex; }
[data-plan="monthly"] [data-tier-link="monthly"] { display: block; }
[data-plan="yearly"] [data-tier-link="yearly"] { display: block; }

/* Progress bar */
[data-progress-bar]::-webkit-progress-bar { background: transparent; }
[data-progress-bar]::-moz-progress-bar { background: var(--ghost-accent-color); }
[data-progress-bar]::-webkit-progress-value { background: var(--ghost-accent-color); }

header.sticky ~ main .ghost-content h2,
header.sticky ~ main .ghost-content h3,
header.sticky ~ main .ghost-content h4,
header.sticky ~ main .ghost-content h5 {
  scroll-margin-top: 90px;
}

/* Content CTA */
.gh-post-upgrade-cta-content {
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.2);
  border: 2px solid rgba(0,0,0,0.05);
}

.gh-post-upgrade-cta .gh-post-upgrade-cta-content a.gh-btn {
  border-radius: var(--radius-lg);
}

/* TOC */
[data-toc-toggle="active"] .icon-minus { display: block; }
[data-toc-toggle="inactive"] .icon-plus { display: block; }

.toc-list { 
  padding: 0;
  margin: 0;
  max-height: 80vh;
  overflow-y: scroll;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
  gap: 2px;

  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
}

.toc-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.toc-list-item {
  line-height: 1.2;
}

.toc-list-item a { 
  display: block; 
  padding: 6px 10px;
  border-radius: 8px;
  position: relative;
}

.toc-list-item a:hover { color: var(--ghost-accent-color); }

.toc-list-item a.w--current,
.is-active-li > a {
  font-weight: 500;
  color: var(--ghost-accent-color)
}

.toc-list-item a.w--current:before,
.is-active-li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 8px;
  background-color: var(--ghost-accent-color);
  opacity: 0.05;
}

.toc-list .toc-list { 
  list-style: none; 
  border-left: 1px solid var(--color-border);
  margin: 4px 0 4px 10px;
  padding-left: 4px;
}

.toc-list .toc-list .toc-list-item:before { display: none; }

/* Windows font weight fix */
body.is-win .font-light { font-weight: 350; }

/* Post template preview fading */
article[data-preview] { position: relative; }
article[data-preview]:after {
  z-index: 0;
  position: absolute;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: min(100%,500px);
  background: linear-gradient(transparent, var(--color-background) 50%);
}

article[data-preview] aside { z-index: 1; }

/* Custom components */
[data-color-scheme="dark"] {
  .nav_menu_link,.button.is-nav-secondary,.nav_logo.w-embed svg{
    color: white;
  }
}