<footer class="section_footer">
    <div class="padding-global padding-section-small">
        <div class="footer_container line-top">
            <div class="footer_component">
                <div class="footer_center">
                    <div id="w-node-_257d63b7-5715-878c-4585-0ecfe02648aa-e026489f" class="foter_cta-wrapper">
                        <p class="text-weight-semibold text-size-medium">United Manufacturing Hub bridges your factory to your IT applications</p>
                        <a aria-roledescription="open-modal-trigger" class="button is-text is-alternate w-inline-block" href="#" role="button" aria-haspopup="dialog" aria-controls="fs-modal-2-popup" fs-modal-element="open-1" aria-expanded="false" tabindex="0">
                            <div>Try out now</div>
                            <div class="w-embed"><svg width="8" height="10" viewbox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M1.77124 1.47095L5.54247 5.24219L1.77124 9.01342" stroke="currentColor" stroke-width="2.66667"></path> </svg></div>
                        </a>
                    </div>
                    <div class="footer_links">
                        <div id="w-node-_8889f6b7-1a61-d7a1-9257-be6a186e256c-e026489f" class="footer_links_column">
                            <div class="text-size-small text-weight-semibold">Solutions</div>
                            <div class="footer_links_list">
                                <a href="solutions/unified-namespace.html" class="footer_link">Unified Namespace</a>
                                <a href="solutions/open-source-historian.html" class="footer_link">Open-Source Historian</a>
                                <a href="solutions/digital-product-shadow.html" class="footer_link">Digital Product Shadow</a>
                                <a href="solutions/oee.html" class="footer_link">OEE</a>
                                <a href="solutions/energy-and-resource-optimization.html" class="footer_link">Energy &amp; Resource Optimization</a>
                                <a href="solutions/shop-floor-connectivity-infrastructure.html" class="footer_link">Shop Floor Connectivity Infrastructure</a>
                                <a href="solutions/digital-work-order-tulip.html" class="footer_link">Digital Work Order (x Tulip)</a>
                                <a href="solutions/electronic-batch-recording.html" class="footer_link">Electronic Batch Records (EBR)</a>
                            </div>
                        </div>
                        <div class="footer_links_column">
                            <div class="text-size-small text-weight-semibold">Industries</div>
                            <div class="footer_links_list">
                                <a href="industry/automotive.html" class="footer_link">Automotive</a>
                                <a href="industry/food-and-beverage.html" class="footer_link">Food and Beverage</a>
                                <a href="industry/pharma.html" class="footer_link">Pharmaceutical</a>
                                <a href="industry/chemical.html" class="footer_link">Chemical</a>
                            </div>
                        </div>
                        <div id="w-node-_257d63b7-5715-878c-4585-0ecfe02648c6-e026489f" class="footer_links_column">
                            <div class="text-size-small text-weight-semibold">Navigation</div>
                            <div class="footer_links_list">
                                <a href="become-a-partner.html" class="footer_link">Become a partner</a>
                                <a href="product.html" class="footer_link">Product</a>
                                <a href="pricing.html" class="footer_link">Pricing</a>
                                <a href="https://learn.umh.app/" target="_blank" class="footer_link">Community</a>
                                <div data-hover="false" data-delay="0" class="footer_dropdown w-dropdown">
                                    <div class="footer_link_dropdown-toggle w-dropdown-toggle">
                                        <div>Life at UMH</div>
                                        <div class="footer_link_dropdown-icon w-embed"><svg viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M9.93934 4.93934L6 8.87868L2.06066 4.93934L3.12132 3.87868L6 6.75736L8.87868 3.87868L9.93934 4.93934Z" fill="currentColor"></path></svg></div>
                                    </div>
                                    <nav class="footer_dropdown_list w-dropdown-list">
                                        <div class="footer_dropdown-list-items-wrapper">
                                            <a href="about.html" class="footer_dropdown_link w-dropdown-link">About us</a>
                                            <a href="career.html" class="footer_dropdown_link w-dropdown-link">Career</a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_257d63b7-5715-878c-4585-0ecfe02648d2-e026489f" class="footer_links_column">
                            <div class="text-size-small text-weight-semibold">Follow us</div>
                            <div class="footer_links_list">
                                <a href="https://discord.com/invite/2B6tF6mF4Z" target="_blank" class="footer_link">Discord</a>
                                <a href="https://www.linkedin.com/company/united-manufacturing-hub/?originalSubdomain=de" target="_blank" class="footer_link">LinkedIn</a>
                                <a href="https://www.youtube.com/@unitedmanufacturinghub" target="_blank" class="footer_link">YouTube</a>
                                <a href="https://github.com/united-manufacturing-hub" target="_blank" class="footer_link">Github</a>
                            </div>
                        </div>
                        <div id="w-node-_257d63b7-5715-878c-4585-0ecfe02648e0-e026489f" class="footer_links_column">
                            <div class="text-size-small text-weight-semibold">Visit us</div>
                            <div class="footer_links_list">
                                <a href="https://maps.app.goo.gl/DHiRwp5hQPZfpgeb7" target="_blank" class="footer_link w-inline-block">
                                    <p class="footer_address_text">Unicorn Workspaces<br>Venloer Str. 310-316<br>50823 Köln</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_bottom">
                    <p class="footer_copywrite-text">© 2024 UMH Systems GmbH</p>
                    <div class="footer_legal-links-wrapper">
                        <a href="privacy.html" aria-current="page" class="footer_link w--current">Privacy Policy</a>
                        <a href="imprint.html" class="footer_link">Imprint</a>
                        <a fs-cc="open-preferences" href="#" class="footer_link">Cookies</a>
                        <a href="#top" class="footer_link">Back to top</a>
                    </div>
                </div>
                <div data-w-id="27191f34-37e6-de32-551a-1a93080359d7" class="socket_component"></div>
            </div>
        </div>
    </div>
</footer>